@media screen and (min-width: 1216px) {
  .body {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
 }
 @media screen and (min-width: 1px) and (max-width: 1216px) {
  .body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-size: cover;
    background-repeat: repeat-y;
  }
 }

 li {
  display: inline;
  float: left;
  background: hsl(0, 0%, 100% / 0.1);
}

li a{
  display: block;
  color: white;
  text-align: center;
}

li a:hover {
  background-color: rgba(187, 187, 187, 0.877);
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}