@media (max-width: 1440px) {
  .body {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
 }
 @media (max-width: 768px) {
  .body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
 }

 @media (max-width: 375px) {
  .body {
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
 }