body {    
    @media screen and (max-width: 1440px) and (max-height: 900px) {
      .element {
        background-image: url(../assets/home/background-home-desktop.jpg);
        background-size: contain;
        background-repeat: no-repeat;
      }
     }

     @media screen and (max-width: 768px) and (max-height: 1024px) {
      .element {
        background-image: url(../assets/home/background-home-tablet.jpg);
        background-size: contain;
        background-repeat: no-repeat;
      }
     }

     @media screen and (max-width: 375px) and (max-height: 664px) {
      .element {
        background-image: url(../assets/home/background-home-mobile.jpg);
        background-size: contain;
        background-repeat: no-repeat;
      }
     }
  }